.container {
  height: 100%;
  /* position: fixed 안하고 이렇게 되는 이유가 궁금함... */
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.list {
  /* flex 1 1 auto로 주고 하단데 addform이 내려가는 이유 확인해보기 */
  flex: 1 1 auto;
  overflow-y: auto;
}
